<mat-toolbar color="primary">

    <mat-toolbar-row>

        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>

        <h1>Sistema Venta</h1>

        <span style="flex: 1 1 auto;"></span>
        <label style="font-size: 14px; margin-right: 20px;">
            {{email}} | {{rol}}
        </label>

        <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>

    </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>
    
    <mat-sidenav opened="true" mode="side" style="width: 220px;" #sidenav>
        <mat-nav-list>

            <mat-list-item *ngFor="let menu of menusList" [routerLink]="menu.url">
                <mat-icon matListItemIcon>{{menu.icon}}</mat-icon>
                <div matListItemTitle>{{menu.name}}</div>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div style="height: 90vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>